<div class="parent">
  <mat-card class="wholeCard">

    <mat-card-header>
      <div class="button-row">
        <button mat-raised-button color="accent">
          <mat-icon [routerLink]="'.//'">keyboard_backspace</mat-icon>
        </button>
        <button mat-raised-button color="primary" [routerLink]="'/add'">Add Word</button>
        <button mat-raised-button [routerLink]="'/search'">Search Word</button>
      </div>
    </mat-card-header>
    <mat-card-content>

      <router-outlet></router-outlet>
    </mat-card-content>

  </mat-card>

</div>
